.card__description {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  min-width: 240px;
  margin: 0 auto 0;
  padding-bottom: 24px;
}
