.profile {
  width: 880px;
  padding: 0 0 51px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  min-width: 700px;
}

@media screen and (max-width: 940px) {
  .profile {
    width: 80%;
    min-width: 282px;
    padding: 0 0 38px;
  }
}

@media screen and (max-width: 870px) {
  .profile {
    justify-content: center;
  }
}