.profile {
  max-width: 880px;
  width: 100%;
  padding: 40px 0 50px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  min-width: 700px;
}

@media screen and (max-width: 940px){
  .profile {
    width: 80%;
    max-width: 702px;
    min-width: 282px;
    padding-bottom: 42px;
  }
}

@media screen and (max-width: 867px){
  .profile {
    justify-content:center;
    flex-direction: column;
  }
}

@media screen and (max-width: 743px){
  .profile {
    width: 282px;
    padding-bottom: 36px;
  }
}