.elements {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
  margin: auto;
  justify-content: center;
  max-width: 880px;
  padding-bottom: 67px;
}

@media screen and (max-width: 940px){
  .elements {
    width: 80%;
    padding-bottom: 52px;
  }
} 