.profile__info {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: repeat(2, 0fr);
  grid-template-areas: 
  "profile-title profile-edit-button ."
  "profile-description . .";
  flex-grow: 1;
  max-width: 336px;
}

@media screen and (max-width: 870px){
  .profile__info {
    margin-left: 38px;
    gap: 10px;
  }
}

@media screen and (max-width: 500px){
  .profile__info {
    grid-template-columns: 189px 18px;
  }
}


