.form__button_disabled {
  background-color: transparent;
  color: #C4C4C4;
  border: 1px solid #C4C4C4;
}

.form__button_disabled:hover {
  background-color: transparent;
  border: 1px solid #C4C4C4;
}